{% extends 'base.html' %}

{% block content %}

<h1>Your Good News Details</h1>

    <form action="{% url 'add_comment' article.id %}" method="post">
    {% csrf_token %}
    {{  comment_form.as_p  }}
    <input type="submit" value="Add Comment" class='btn-outline-dark'/>
    </form>

    <table class="striped">
      <tbody>
        <thead>
          <tr><th>Date</th><th>Content</th></tr>
        </thead>
          {% for comment in article.comment_set.all %}
          {% csrf_token %}
          <tr>
          <form action="{% url 'delete_comment' article.id %}" method="POST">
              <td>{{comment.date}}</td>
              <td>{{comment.content}}</td>
            <input type="submit" value="DELETE" class='btn-outline-dark'/>
          </form>
          </tr>
          {% endfor %}
        </tbody>
    </table>
      
     
    
     




{% endblock %}

