{% extends 'base.html' %}

{% block content %}
{%  load static %}




<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center">
    <h1></h1>
  </div>
  <div class="row pb-4">
    {% for article in articles %}
    <a href="{% url 'articles_detail' article.id %}">
      <div class="col-sm-4 col-12 mt-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'WAPO-logo.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ article.short_title}}</h5>
            <p class="card-text">{{ article.long_title}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Written by: {{article.author}}</small>
          </div>
          <div class="card-action">
            <a href="{% url 'articles_update' article.id %}">Edit</a>
            <a href="{% url 'articles_delete' article.id %}">Delete</a>
          </div>
        </div>
      </div>
    </a>
    {% endfor %} 
  </div>
  <div class="row d-flex justify-content-center align-items-center add-article-row">
    <a class="btn-large btn add-article" href="{% url 'articles_create' %}">Add an Article</a>
  </div>
</div>

{% endblock %}