{% extends 'base.html' %}
{% block content %}
{% load static %} 
<div class="about-wrapper container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-sm-6 col-12 d-flex flex-start">
            <h1>Who We Are</h1>
        </div>
        <div class="col-sm-6 col-12 d-flex justify-content-center align-items-center">
            <h5>It takes a special group of talented individuals to bring life to such a project.
                It takes passion, sleepless nights, hard work and dedication. We take pride in providing 
                our customers with the most up to date news and articles. Get to know the individuals behind
                the masterpiece.
            </h5>
        </div>
    </div>
    <div class="team-section">
        <div class="row first-team-row d-flex justify-content-center align-items-center">
          <div class="col-md-6 mx-auto col-12 d-flex profile-bg justify-content-center align-items-center">
            <div class="card profile-card" data-tilt style="width: 400px;">
              <img class="card-img-top" src="{% static 'Hsu.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Elaine H.</h5>
                <p class="card-text">Software Engineer</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mx-auto col-12 d-flex profile-bg justify-content-center align-items-center">
            <div class="card profile-card" data-tilt style="width:400px;">
                <img class="card-img-top" src="{% static 'Vicky.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Victoria M.</h5>
                  <p class="card-text">Software Engineer</p>
                </div>
            </div>
          </div> 
          <div class="col-md-6 mx-auto col-12 d-flex profile-bg justify-content-center ">
            <div class="card profile-card" data-tilt style="width:400px;">
                <img class="card-img-top" src="{% static 'Keemm.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Akeem D.</h5>
                  <p class="card-text">Software Engineer</p>
                </div>
            </div>
          </div>  
          <div class="col-md-6 mx-auto col-12 d-flex profile-bg justify-content-center ">
            <div class="card profile-card" data-tilt style="width:400px;">
                <img class="card-img-top" src="{% static 'Grantt.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Grant F.</h5>
                  <p class="card-text">Software Engineer</p>
                </div>
            </div>
          </div>   
        </div>
    </div>
</div>

{% endblock %}
