{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>News Flow</title>
</head>
<body>
<nav style='height:100px;' class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a style='font-size: 65px;'class="navbar-brand" href="/">Your News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item acitve">
          <a  style='font-size: 35px;' class="nav-link" href="{% url 'home' %}">Home</a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a style='font-size: 35px;' class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
          <a style='font-size: 35px;' class="nav-link" href="{% url 'articles_index' %}">Articles</a>
        </li>
     
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
      <li class="nav-item">
        <a style='font-size: 35px;' class="nav-link" href="{% url 'logout' %}">Log Out</a>
      </li>
    {% else %}
    <li class="nav-item">
      <a style='font-size: 35px;' class="nav-link" href="{% url 'signup' %}">Sign Up</a>
    </li>
    <li class="nav-item">
      <a style='font-size: 35px;' class="nav-link" href="{% url 'login' %}">Log In</a>
    </li>
  {% endif %}
    </ul>
  </nav>
  
  <main class='container' >
    {% block content %}
    
    {% endblock %}
</main>



<footer class="text-center text-white bg-primary" >
    <div class="container p-4 pb-0">
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          
          <a class="btn btn-outline-light btn-rounded" href="{% url 'signup' %}"" role="button">Sign Up!</a>
          
      </section>
      </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright: Elaine, Akeem, Grant, Victoria!
      </div>
    </footer>
</body>
</html>