{% extends 'base.html' %}

{% block content %}
{% load static %}


<div class="container-fluid banner">
  <div class="row">
    <div class="col-12 text-center justify-content-center align-items-center">
      <h1><span class="font-change">Innovative</span>, Premium News at Your Fingertips</h1>
      <h6>Curating the best shit just for you since 2021.</h6>
    </div>
  </div>
</div>

    <div class="row pb-4 content">
      <div class="col-sm-4 col-12">
        <div class="card">
          <img class="card-img-top" src="{% static 'APNews.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"><small class="text-muted">By Akeem Dainty</small></p>
            <h5 class="card-title">The Biden administration announced its first ....
            </h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-12">
        <div class="card">
          <img class="card-img-top" src="{% static 'APNews.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"><small class="text-muted">By Akeem Dainty</small></p>
            <h5 class="card-title">The Biden administration announced its first ....</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-12">
        <div class="card">
          <img class="card-img-top" src="{% static 'APNews.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"><small class="text-muted">By Akeem Dainty</small></p>
            <h5 class="card-title">The Biden administration announced its first ....</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-4 content">
      <div class="col-sm-4 col-12">
        <div class="card">
          <img class="card-img-top" src="{% static 'APNews.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"><small class="text-muted">By Akeem Dainty</small></p>
            <h5 class="card-title">The Biden administration announced its first ....
            </h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-12">
        <div class="card">
          <img class="card-img-top" src="{% static 'APNews.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"><small class="text-muted">By Akeem Dainty</small></p>
            <h5 class="card-title">The Biden administration announced its first ....</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-12">
        <div class="card">
          <img class="card-img-top" src="{% static 'APNews.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"><small class="text-muted">By Akeem Dainty</small></p>
            <h5 class="card-title">The Biden administration announced its first ....</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
    
{% endblock %}